@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

p img{
	height: 1em;
	width: auto;
}
